<div id="sidebar">
	<div id="sidebar-shortcuts">
		<div id="sidebar-shortcuts-large">
 			<button class="btn btn-small btn-success"><i class="icon-signal"></i></button>
			<button class="btn btn-small btn-info"><i class="icon-pencil"></i></button>
			<button class="btn btn-small btn-warning"><i class="icon-group"></i></button>
			<button class="btn btn-small btn-danger"><i class="icon-cogs"></i></button>
		</div>
		<div id="sidebar-shortcuts-mini">
			<span class="btn btn-success"></span>
			<span class="btn btn-info"></span>
			<span class="btn btn-warning"></span>
			<span class="btn btn-danger"></span>
		</div>
	</div>
	<!--左侧菜单start-->
	<ul class="nav nav-list">
		<li id="htgli_li">
			<a href="#" class="dropdown-toggle" >
				<i class="icon-edit"></i>
				<span>后台管理</span>
				<b class="arrow icon-angle-down"></b>
			</a>
			<ul class="submenu">
				<li><a href="/emp/list.do"><i class="icon-double-angle-right"></i> 员工管理</a></li>
				<li><a href="/dep/list.do"><i class="icon-double-angle-right"></i> 部门管理</a></li>
			</ul>
		</li>
		<li id="act_li">
			<a href="#" class="dropdown-toggle" >
				<i class="icon-edit"></i>
				<span>流程管理</span>
				<b class="arrow icon-angle-down"></b>
			</a>
			<ul class="submenu">
				<li><a href="/act/processList.do"><i class="icon-double-angle-right"></i> 流程列表</a></li>
				<li><a href="/act/queryMyTask.do"><i class="icon-double-angle-right"></i> 我的审批</a></li>
			</ul>
		</li>
	</ul>
	<!--左侧菜单end-->
	<div id="sidebar-collapse"><i class="icon-double-angle-left"></i></div>
</div>