<!DOCTYPE html>
<html lang="en">
	<head>
		<#include "/common/head.htm"/>
		<link rel="stylesheet" href="/static/css/jquery-ui-1.10.2.custom.min.css" />
		<link rel="stylesheet" href="/static/css/chosen.css" />
		<link rel="stylesheet" href="/static/css/datepicker.css" />
		<link rel="stylesheet" href="/static/css/bootstrap-timepicker.css" />
		<link rel="stylesheet" href="/static/css/daterangepicker.css" />
		<link rel="stylesheet" href="/static/css/colorpicker.css" />
	</head>
	<body>
		<div class="container-fluid" id="main-container">
			<div id="main-content" class="clearfix" style="margin-left:0px;">
					<div id="page-content" class="clearfix">
						<div class="row-fluid">
							<!-- PAGE CONTENT BEGINS HERE -->
							<form id="submitForm" class="form-horizontal" method="POST">
								<input type="hidden" id="id" name="id" value="${(dep.id)!}"/>
								<div class="control-group">
									<label class="control-label" for="name">部门名称</label>
									<div class="controls">
										<input type="text" name="name" class="span10" id="name" placeholder="请输入部门名称" value="${(dep.name)!}" />
									</div>
								</div>
								<div class="control-group">
									<label class="control-label" for="parentDepId">上级部门</label>
									<div class="controls">
										<select class="chzn-select" name="parentDepId" id="parentDepId" data-placeholder="请选择一个部门">
											<option value=""></option>
											<#if deps??>
												<#list deps as temp>
													<option <#if dep?? && dep.parentDepId?? && dep.parentDepId == temp.id>selected="true"</#if> value='${(temp.id)!}'>${(temp.name)!}</option>
												</#list>
											</#if>
										</select>
									</div>
								</div>

								<div class="form-actions">
									<button id='savebutton' class="btn btn-info" type="button"><i class="icon-ok"></i><#if dep??>更新<#else>新增</#if></button>
									&nbsp; &nbsp; &nbsp;
									<button class="btn" type="reset" id="reset-btn"><i class="icon-undo"></i>关闭</button>
								</div>
							 </form>
							<!-- PAGE CONTENT ENDS HERE -->
						 </div><!--/row-->
					</div><!--/#page-content-->
			</div><!-- #main-content -->
		</div><!--/.fluid-container#main-container-->
		<a href="#" id="btn-scroll-up" class="btn btn-small btn-inverse">
			<i class="icon-double-angle-up icon-only"></i>
		</a>
		<!-- basic scripts -->
		<script src="/static/1.9.1/jquery.min.js"></script>
		<script type="text/javascript">
		window.jQuery || document.write("<script src='/static/js/jquery-1.9.1.min.js'>\x3C/script>");
		</script>
		
		<script src="/static/js/bootstrap.min.js"></script>
		<!-- page specific plugin scripts -->
		
		<!--[if lt IE 9]>
		<script type="text/javascript" src="/static/js/excanvas.min.js"></script>
		<![endif]-->
		<script type="text/javascript" src="/static/js/jquery-ui-1.10.2.custom.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.ui.touch-punch.min.js"></script>
		<script type="text/javascript" src="/static/js/chosen.jquery.min.js"></script>
		<script type="text/javascript" src="/static/js/fuelux.spinner.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap-datepicker.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap-timepicker.min.js"></script>
		<script type="text/javascript" src="/static/js/date.js"></script>
		<script type="text/javascript" src="/static/js/daterangepicker.min.js"></script>
		<script type="text/javascript" src="/static/js/bootstrap-colorpicker.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.autosize-min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.inputlimiter.1.3.1.min.js"></script>
		<script type="text/javascript" src="/static/js/jquery.maskedinput.min.js"></script>
		<!-- ace scripts -->
		<script src="/static/js/ace-elements.min.js"></script>
		<script src="/static/js/ace.min.js"></script>
		<!-- inline scripts related to this page -->
		
		<!-- layer 弹出框处理 -->
		<script type="text/javascript" src="/plugins/layer2.0/layer.js"></script>
		<!-- 自定义js -->
		<script type="text/javascript" src="/static/js/wx-defined.js"></script>
		<script type="text/javascript">
		var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
		$(function() {
			$(".chzn-select").chosen();
			
			$("#savebutton").on('click',function(){
				var ajaxParams = $("#submitForm").serialize();
				$.ajax({
					type : "POST",
					url : "/dep/save.do",
					data : ajaxParams,
					datatype : "json",// "xml", "html", "script", "json", "jsonp", "text".
					beforeSend : function() {
					},
					success : function(data) {// 成功返回之后调用的函数
						var jsondata = null;//eval('(' + data + ')');
						if (data instanceof Object){
							jsondata = data;
						}else{
							jsondata = eval('(' + data + ')');
						}
						if(jsondata.status == 200){
							parent.layer.msg(jsondata.message, {
								shade: [0.9, '#000'],
							    icon: 6,
							    time: 1500 //2秒关闭（如果不配置，默认是3秒）
							}, function(){
								parent.reload_page();
								parent.layer.close(index);
							}); 							
						}else{
							parent.layer.msg(jsondata.message, {
								shade: [0.9, '#000'],
							    icon: 6,
							    time: 1500 //2秒关闭（如果不配置，默认是3秒）
							}, function(){
							}); 	
						}
						//console.log(data.success);
					},
					complete : function(XMLHttpRequest, textStatus) {// 调用执行后调用的函数
						
					},
					error : function() {// 调用出错执行的函数
					}
				});
			});
			
			$("#reset-btn").on('click',function(){
				parent.layer.close(index);
			});
		});
		</script>
	</body>
</html>
