<!DOCTYPE html>
<html lang="en">
<head>
    <#include "/common/head.htm"/>
</head>
<body>
<#include "/common/topHead.htm"/>
<div class="container-fluid" id="main-container">
    <a href="#" id="menu-toggler"><span></span></a><!-- menu toggler -->
    <#include "/common/left.htm"/>
    <div id="main-content" class="clearfix">

        <!--面包屑导航start-->
        <div id="breadcrumbs">
            <ul class="breadcrumb">
                <li><i class="icon-home"></i> <a href="/main.do">主页</a><span class="divider"><i class="icon-angle-right"></i></span>
                </li>
                <li class="active">后台管理</li>
            </ul>
        </div>
        <!--面包屑导航end-->

        <div id="page-content" class="clearfix">

            <div class="row-fluid">
                <h3 class="header smaller lighter blue">员工列表</h3>

                <table id="table_report" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th class="center">
                            <label><input type="checkbox"/><span class="lbl"></span></label>
                        </th>
                        <th>账号</th>
                        <th>姓名</th>
                        <th>性别</th>
                        <th class="hidden-480">邮箱</th>
                        <th class="hidden-phone">手机号码</th>
                        <th class="hidden-480"><i class="icon-time hidden-phone"></i>创建时间</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>

                    <#if datas??>
                        <#list datas.results as data>
                            <tr>
                                <td class='center'>
                                    <label><input type='checkbox'/><span class="lbl"></span></label>
                                </td>
                                <td><a href='#'>${(data.account)!}</a></td>
                                <td>${(data.name)!}</td>
                                <td>${(data.sexStr)!}</td>
                                <td class='hidden-480'>${(data.email)!}</td>
                                <td class='hidden-phone'>${(data.mobile)!}</td>
                                <td class='hidden-480'>
                                    ${(data.createTime?string("yyyy-MM-dd HH:mm:ss"))!}
                                </td>
                                <td>
                                    <div class='hidden-phone visible-desktop btn-group'>
                                        <button class='btn btn-mini btn-success'><i class='icon-ok'></i></button>
                                        <button class='btn btn-mini btn-info'><i class='icon-edit' obj-id="${(data.id)!}"></i></button>
                                        <button class='btn btn-mini btn-danger'><i class='icon-trash'></i></button>
                                        <button class='btn btn-mini btn-warning'><i class='icon-flag'></i></button>
                                    </div>
                                    <div class='hidden-desktop visible-phone'>
                                        <div class="inline position-relative">
                                            <button class="btn btn-minier btn-yellow dropdown-toggle"
                                                    data-toggle="dropdown"><i class="icon-caret-down icon-only"></i>
                                            </button>
                                            <ul class="dropdown-menu dropdown-icon-only dropdown-yellow pull-right dropdown-caret dropdown-close">
                                                <li><a href="#" class="tooltip-success" data-rel="tooltip" title="Edit"
                                                       data-placement="left"><span class="green"><i
                                                        class="icon-edit"></i></span></a></li>
                                                <li><a href="#" class="tooltip-warning" data-rel="tooltip" title="Flag"
                                                       data-placement="left"><span class="blue"><i
                                                        class="icon-flag"></i></span> </a></li>
                                                <li><a href="#" class="tooltip-error" data-rel="tooltip" title="Delete"
                                                       data-placement="left"><span class="red"><i
                                                        class="icon-trash"></i></span> </a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </#list>
                    </#if>

                    </tbody>
                </table>

            </div>


            <!-- PAGE CONTENT ENDS HERE -->
            <!--/row-->
            <div class="page-header position-relative">
                <table style="width:100%;">
                    <tbody><tr>
                        <td style="vertical-align:top;">
                            <a id="add" class="btn btn-small btn-success">新增</a>
                            <a id="batch-del" class="btn btn-small btn-danger" title="批量删除"><i class="icon-trash"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
        <!--/#page-content-->

        <!--/#ace-settings-container-->
    </div>
    <!-- #main-content -->
</div>
<!--/.fluid-container#main-container-->
<a href="#" id="btn-scroll-up" class="btn btn-small btn-inverse">
    <i class="icon-double-angle-up icon-only"></i>
</a>
<!-- basic scripts -->
<script src="/static/1.9.1/jquery.min.js"></script>
<script type="text/javascript">
    window.jQuery || document.write("<script src='/static/js/jquery-1.9.1.min.js'>\x3C/script>");
</script>

<script src="/static/js/bootstrap.min.js"></script>
<!-- page specific plugin scripts -->

<script type="text/javascript" src="/static/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.dataTables.bootstrap.js"></script>
<!-- ace scripts -->
<script src="/static/js/ace-elements.min.js"></script>
<script src="/static/js/ace.min.js"></script>
<!-- inline scripts related to this page -->

<script type="text/javascript" src="/plugins/layer2.0/layer.js"></script>
<script type="text/javascript">
    function reload_page(){
        window.location.reload();//刷新当前页面
    }
    $(function () {
        //左侧菜单打开
        $('#htgli_li').addClass('active open');
        $('#htgli_li ul').show();
        $('#htgli_li ul li').each(function(i){
            if (i == 0){
                $(this).addClass('active');
            }
        });

        var oTable1 = $('#table_report').dataTable({
            "aoColumns": [
                {"bSortable": false},
                null, null, null, null, null, null,
                {"bSortable": false}
            ]
        });

        $('table th input:checkbox').on('click', function () {
            var that = this;
            $(this).closest('table').find('tr > td:first-child input:checkbox')
                    .each(function () {
                        this.checked = that.checked;
                        $(this).closest('tr').toggleClass('selected');
                    });

        });
        $('[data-rel=tooltip]').tooltip();

        $("#add").on('click',function(){
            //iframe层-父子操作
            layer.open({
                type: 2,
                title: '新增员工',
                area: ['60%', '90%'],
                fix: true, //不固定
                maxmin: true,
                content: '/emp/add.do'
            });
        });

        $(".icon-edit").on('click',function(){
            var id = $(this).attr('obj-id');
            //iframe层-父子操作
            layer.open({
                type: 2,
                title: '编辑员工',
                area: ['60%', '90%'],
                fix: true, //不固定
                maxmin: true,
                content: '/emp/add.do?id='+id
            });
        });
    })
</script>
</body>
</html>
